@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  margin: 0 auto 300px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  padding-left: 30px;
  font-size: 15px;
  font-weight: bolder;
}

li {
  list-style: none;
}

h2 {
  color: rgb(0, 0, 0);
  padding-bottom: 30px;
  font-size: 3em;
}

.login {
  width: 100%;
  height: 600px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-id {
  margin-top: 10px;
  width: 150%;
}

.login-id input {
  width: 100%;
  height: 70px;
  border-radius: 20px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.login-password {
  margin-top: 20px;
  width: 150%;
}

.login-password input {
  width: 100%;
  height: 70px;
  border-radius: 20px;
  margin-top: 10px;
  padding: 0px 20px;
  padding-bottom: 100%;
  border: 1px solid lightgray;
  outline: none;
}

.login-button {
  padding-top: 50px;
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.button {
  width: 50%;
}

body {
  background: white; /* fallback for old browsers */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 30px;
  box-sizing: border-box;
  font-size: 25px;
}
.form #button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #90b9da;
  width: 100%;
  border-radius: 20px;
  margin: 0 auto;
  padding: 25px;
  padding-top: 30px;
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form #button:hover,
.form #button:active,
.form #button:focus {
  background: #649cbd;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #8398e0;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
